body{
    padding: 0;
    margin: 0;
}
.bigcontainer{
    display: inline-flex;
}
.container{
   
    margin-left: 2rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}
.itemt{
    order: 1;
    flex-basis:100%;
    text-align: justify;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.itema{
    order: 3;
}
.pic{
    order: 3;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.container2{
     margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;
    justify-content: start;
    border-radius: 10px;
    padding: 1rem;
}
.itemt2{
    order: 1;
    flex-basis: 100%;
    text-align: justify;
}
.itema2{
    order: 4;
}
.pic2{
  order: 3;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.container3{
    display: grid;
    gap: 2rem;
    row-gap: .2rem;
    grid-template-columns: 400px 1fr;
    margin: 4rem auto 2rem;
    max-width: 900px;
    align-items: start;
    
}
.pic3{
    border-radius: 10px;
    width: 400px;
    grid-column: 1;
}

.text{
    padding: 20px;
    color: white;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    background-color: black;
    border-radius: 10px;
}
.testimonial-slider {
  
  max-width: 650px;
  margin:auto;
  text-align: center;
  padding: 2rem;
  border: 2px solid #000;
  border-radius: 30px;
}

.quote {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.controls button {
  background: none;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.avatars img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}